@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* Definindo o estilo base */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    overflow-x: hidden;
}

/* HEADER */
.header-conteiner {
    height: 100vh;
    width: 100vw;
    background-color: #512250;
    background-image: url(img/ultima4.0.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
    font-size: 24px; 
    box-shadow: 0 0 20px 5px rgb(106, 4, 231);
}

.header-proj{
    height: 25vh;
    width: 100vw;
    background-color: #512250;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-center;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
    font-size: 24px; 
    box-shadow: 0 0 20px 5px rgb(106, 4, 231);

}
/* titulo da pagina de projeto */
.tit_proj{
    text-align: center;
}
/* Estilo para h1 */
h1 {
    text-transform: uppercase;
    letter-spacing: 4px; 
    font-family: "Bebas Neue", sans-serif;
    font-size: 100px;
}

/* Estilo para links nas redes sociais */
.social-midia {
    margin-top: 1rem;
    display: flex;
}

.social-midia a {
    text-decoration: none;
    color: #000000;
    padding: 1rem 4rem;
    border: 1px solid black;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}

a:hover {
    background-color: white;
}

/* Estilo para o menu */
.checkbox-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: #1e1e2a;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px white;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-items ul {
    list-style-type: none;
}

.menu-items ul li a {
    margin: 10px 0;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}

/* Animação do menu */
#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px;
}

#toggle:checked + .checkbox {
    background-color: white;
}

#toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 100vmax white;
    z-index: 1; 
}

#toggle:checked ~ .menu-items {
    visibility: visible;
    opacity: 1;
}

/* Estilo dos cards */
.conteiner {
    height: auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
}

.card-conteiner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6f657c;
    background-image: url(img/comp_ultimo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5s);
    color: black;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.card-text {
    width: 40%;
    letter-spacing: 1px;
    color: #030107;
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid white;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper p {
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.card:hover {
    filter: unset;
}

.card:hover > .card-wrapper::before {
    height: 250px;
    width: 250px;
    opacity: 5;
}

.card:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}

/* Footer */
.footer {
    width: 100%;
    height: 100px;
    background-color: #512250;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e8e8f3;
}

p {
    color: #030107;
    height: 300px;
    width: 530px;
    font-size: 25px;
}
.sobre_mim{
    color: #ffffff;
    font-size: 20px;
    height: 300px;
    width: 530px;
}

a {
    text-decoration: none;
}

/* PREVISÃO DO TEMPO/*/

.tempo{
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    display: flex;
    justify-content: center;

}

#pesquisa {
    margin-bottom: 50px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    height: auto;
}

button[type="submit"]{
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    background-color: #512250;
    color: #fff;
    font-size: 16px;
    cursor:pointer;
    display: block;

}
button[type="submit"]:hover{
    background-color: #1e1e2a;
}

input[type="search"]{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-right: 10px;
}

/* Estilos para a caixa de previsão do tempo */
.box {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    width: 250px;
    height: 250px;
    background-color: #512250;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgb(60, 7, 124);

}

.city {
    border: 1px solid #000000;
    border-radius: 5px;
    width: 100%;
    height: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.temp {
    border: 1px solid #000000;
    border-radius: 5px;
    height: 20%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.spacer {
    margin-bottom: 30px;
}

/* Estilo para o título da cidade */
#title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #000000;
}

/*PARA DISPOSITIVOS MOVEIS */
@media (max-width: 767px) {
    .header-conteiner {
        padding: 0 20px; 
        background-image: none;
    }

    .header-proj {
        padding: 0 20px; 
    }

    h1 {
        font-size: 48px; 
    }

    .social-midia a {
        padding: 1rem 2rem; 
    }

    .checkbox {
        top: 15px; 
        right: 15px; 
    }

    .checkbox-conteiner{
        padding-right: 50%px;
    }

    .menu {
        top: 18px; 
        right: 15px;
    }

    .menu-items ul li a {
        font-size: 24px; 
    }

    .card {
        width: 200px; 
        height: 200px; 
        font-size: 14px; 
    }

    p {
        width: auto; 
        font-size: 18px; 
    }

    .sobre_mim {
        width: auto; 
        font-size: 16px; 
    }

    .tempo {
        font-size: 36px; 
    }

    .box {
        width: 200px; 
        height: 200px; 
        font-size: 14px; 
    }
    .card-conteiner {
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
        justify-content: center;
    }

    .card {
        margin-bottom: 20px;
    }

    .card-text {
        width: 250px; 
    }
    .card:first-child{
        margin-top: 110px;
    }

    .tit_proj{
        margin-right: 50px;
    }
}

